$nav-text-color: white;
$nav-bg-color: linear-gradient(
  270deg,
  rgba(210, 173, 60, 1) 13%,
  rgba(193, 99, 68, 1) 48%,
  rgba(215, 133, 111, 1) 65%,
  rgba(233, 9, 39, 1) 94%
);
$btn-bg-color: linear-gradient(
  270deg,
  rgba(210, 173, 60, 1) 10%,
  rgba(233, 9, 39, 1) 90%
);
$btn-text-color: white;
